<%= form_for([@post, @comment]) do |f| %>
  <% render 'error/handle', :errors => @comment.errors  %>

  <div class="field">
    <p></p><%= f.text_area :body %><p></p>
  </div>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>