<%= form_for(comment, html:{style:'display:inline-block'}) do |f| %>
  <span class="field">
    <%= f.hidden_field :post_id, value: comment.post_id %>
    <%= f.text_area :body %>
  </span>
  <br>
  <span class="submit">
    <%= f.submit t('.submit') %>
  </span>
<% end %>