<%= form_for([:admin, category], html:{style:'display:inline-block'}) do |f| %>
    <span class="field non-empty"> <%= f.text_field :title  %> </span>
    <span class="submit"><%= f.submit t('.submit') %></span>
<% end %>
