<%= form_for([:admin, category], html:{style:'display:inline-block'}) do |f| %>
    <span class="field"> <%= f.text_area :title, rows:1  %> </span>
    <span class="submit"><%= f.submit t('.submit') %></span>
<% end %>
