<%= form_for(@category) do |f| %>

  <%= render 'error/handle', :errors => @category.errors  %>
  <div class="field">
    <p>Введите название категории:</p>
    <%= f.text_area :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
