<h1>Публикации в категории "<%= @category.title %>"</h1>

<p class="field_navigation"><%= link_to 'Редактировать название категории', edit_category_path(@category) %>

<%= render @posts %>

<%= link_to 'Ко всем категориям', posts_path %>
