<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то от вашего имени захотел изменить ваш пароль в Наноблоге. Вы можете это сделать по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не хотите менять пароль, проигнорируйте это письмо.</p>
<p>Ваш пароль не изменится до тех пор, пока вы не пройдете по этой ссылке и не создадите новый пароль.</p>
